<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <table>
        <tr>
            <td><h1>Votre réservation pour le musée du Louvre</h1></td>
        </tr>
        <tr>
            <td><p>Veuillez imprimer ces billets pour les présenter aux caisses.</p></td>
        </tr>
        <tr>
            <td><p>Si vous bénéficiez d'un tarif réduit, pensez à apporter un justificatif.</p></td>
        </tr>

        {% for visitor in visitors %}
            <tr>
                <td>
                    <h4 class="panel-title">Réservation n° {{ visitor.codeReservation }}</h4>
                </td>
            </tr>

            <tr>
                <td><i class="fa fa-user"></i> Réservation au nom de : {{ visitor.firstname|capitalize }} {{ visitor.lastname|capitalize }}</td>
            </tr>

            <tr>
                <td>Tarif : {{ visitor.category }}</td>
            </tr>

            <tr>
                <td>Billet valable le : {{ visitor.dateReservation|date('d/m/Y') }}</td>
            </tr>

            <tr>
                <td>{{ visitor.price}} €</td>
            </tr>
            
            <tr>
                <td><img src="{{ qrcode_url(path('oc_core_cart_view_reservation', {'codeReservation': visitor.codeReservation }), extension="png") }}" alt=""></td>
            </tr>

        {% endfor %}


        <tr>
            <td>Partager sur les réseaux sociaux</td>
        </tr>
    </table>
</body>
</html>