{{ form_start(form) }}

{{ form_errors(form) }}

    <div class="form-group">
        <div class="row">
            <div class="col-lg-6">
                {{ form_label(form.ticket.dateReservation, "Date de la réservation", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.ticket.dateReservation) }}
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    {{ form_label(form.ticket.fullDay, "Durée de votre visite", {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.ticket.fullDay) }}
                </div>
            </div>
        </div>

    </div>
    <div class="form-group">
        {{ form_label(form.firstname, "Votre prénom", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.firstname) }}
        {{ form_errors(form.firstname) }}
    </div>
    <div class="form-group">
        {{ form_label(form.firstname, "Votre nom", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.lastname) }}
        {{ form_errors(form.lastname) }}
    </div>
    <div class="form-group">
        {{ form_label(form.country, "Votre pays", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.country, {'attr': {'autocomplete': 'off'}}) }}
        {{ form_errors(form.country) }}
        <ul id="listcom" class="form-control"></ul>
    </div>


    <div class="form-group">
        <div class="row">
            <div class="col-lg-6">
                {{ form_label(form.birthday, "Votre date de naissance", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.birthday) }}
            </div>
            <div class="col-lg-6">
                <br>
                {{ form_widget(form.ticket.reduced) }}

            </div>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-plus"></i> Ajouter au panier</button>


{{ form_rest(form) }}


{{ form_end(form) }}
