{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
    Tarifs - {{ parent() }}
{% endblock title%}

{% block body %}
    <div id="blue">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <br>
                    <h4>Le musée du Louvre vous ouvre ses portes tous les jours sauf le mardi.</h4>
                    <h4>Il reste fermé les 1er mai, 1er novembre et 25 décembre.﻿﻿</h4>

                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- blue wrap -->



    <!-- PRICING SECTION -->
    <div id="dg">
        <div class="container">
            <div class="row centered">
                <h4>LISTE DES TARIFS</h4>
                <br>
                {% for price in prices %}
                    <div class="col-lg-4">
                        <!-- START PRICING TABLE -->
                        <div class="pricing-option">
                            <div class="pricing-top">
                                {% if price.price == 0 %}
                                    <span class="special-label">GRATUIT</span>
                                {% endif %}

                                <span class="pricing-edition">{{ price.category|upper }}</span>
                                <span class="price">
                                    {% if price.price == 0 %}
                                        <span class="price-amount">0 </span>
                                    {% else %}
                                        <span class="price-amount">{{ price.price }} </span>
                                    {% endif %}
                                    <small> €</small>

                                </span>
                            </div>
                            <ul>
                                <li><strong>1</strong> Entrée</li>
                                {% if price.ageMin != null %}
                                   <li>A partir de <strong>{{ price.ageMin }}</strong> ans</li>
                                {% elseif price.ageMax != null %}
                                    <li>Jusqu'à <strong>{{ price.ageMax }}</strong> ans</li>
                                {% else %}
                                    <li>{{ price.rule }}</li>
                                {%  endif %}


                            </ul>
                            <a href="{{ path('oc_core_reservation') }}" class="pricing-signup">Réserver</a>
                        </div><!-- /pricing-option -->
                        <!-- END PRICING TABLE -->
                    </div><!-- /col -->
                {% endfor %}


            </div><!-- row -->
        </div><!-- container -->
    </div><!-- DG -->


    <div id="r">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h4> * Conditions requises pour bénéficier du tarif réduit</h4>
                    <p>Un tarif réduit de 10 € est accordé pour les étudiants, les employés du musée, les employés d’un service du Ministère de la Culture et les militaires.
                        <br>Un justificatif vous sera demandé aux caisses du musée.</p>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div><! -- r wrap -->
{% endblock body %}