{% extends "OCCoreBundle::layout.html.twig" %}

{# Variable pour le total de la commande #}
{% set total = 0 %}

{% block title %}
    Votre panier - {{ parent() }}
{% endblock %}

{% block body %}
    <div id="blue">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h4>DETAIL DE VOTRE PANIER</h4>
                    <p>VOUS AVEZ {{ reservations|length }}
                        {{ reservations|length > 1 ? 'RESERVATIONS' : 'RESERVATION' }}.</p>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div><!--  bluewrap -->
    <div class="container">
        {% if reservations !=null %}
        <div class="row">
            <h3 class="text-center">Récapitulatif de votre commande</h3><br>



                {% for reservation in reservations %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Réservation n° {{ reservation.ticket.codeReservation }}<span class="pull-right">{{ reservation.price.price}} €</span></h4>
                        </div>
                        <div class="panel-body">
                            <p><i class="fa fa-user"></i> Réservation au nom de : {{ reservation.firstname|capitalize }} {{ reservation.lastname|capitalize }}</p>
                            <p><i class="fa fa-money"></i> Tarif : {{ reservation.price.category}}</p>
                            <p><i class="fa fa-ticket"></i> Billet valable le : {{ reservation.ticket.dateReservation|date('d/m/Y') }}
                                {%  if reservation.ticket.fullDay == 0 %}
                                    à partir de 14h00
                                {% else %}
                                    toute la journée
                                {% endif %}
                            </p>
                        </div>
                        <div class="panel-footer">
                            <a href="{{ path('oc_core_cart_remove', { 'id': reservation.id }) }}" class="btn btn-danger "><i class="fa fa-trash-o"></i> Supprimer cette réservation</a>
                        </div>

                    </div>
                    {% set total = total + reservation.price.price %}
                {% endfor %}



            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><strong>Montant total de votre commande : <span class="pull-right">{{ total|number_format(2) }} €</span> </strong></h4>
                </div>
            </div>




        </div>
        <div class="row centered">
            <div class="col-lg-12">

                <div class="col-lg-6"><a href="{{ path('oc_core_reservation') }}" class="btn btn-bg btn-default">Ajouter une réservation</a></div>
                {% if total != 0 %}
                    <div class="col-lg-6">

                        <form action="{{ path('oc_core_cart_validated') }}" method="POST">
                          <script
                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_test_D695UwU1L8j7SX0UvaKI6CvJ"
                                    data-amount="{{ total*100 }}"
                                    data-name="Paiment"
                                    data-description="carte bancaire"
                                    data-image="{{  asset('bundles/occore/img/logo-2.jpg') }}"
                                    data-locale="auto"
                                    data-zip-code="false"
                                    data-label="Finaliser ma commande"
                                    data-currency="eur">

                            </script>
                        </form>
                    </div>
                {% else %}
                    <div class="col-lg-6"><strong>Les enfants de moins de 12 ans doivent être accompagnés par un adulte.</strong></div>
                {% endif %}
            </div>


        </div>

        <br><br><br>

         {% else %}
            <div class="row centered">
                <div class="col-lg-12">
                    <h3>Votre panier est vide.</h3>
                    <p>Vous avez actuellement aucune réservation pour le musée.</p>
                </div>
                <br>
                <div class="col-lg-12">
                    <h3>Que souhaitez-vous faire maintenant ?</h3>
                    <br><br>
                    <a href="{{ path('oc_core_reservation') }}" class="btn btn-lg btn-info btn-block"><i class="fa fa-plus"></i> Ajouter une réservation</a>
                    <br>
                    <a href="{{ path('oc_core_pricelist') }}" class="btn btn-lg btn-default btn-block"><i class="fa fa-eye"></i> Consulter les tarifs</a>
                </div>
                <br><br><br>
                <br><br><br>

            </div>

        {% endif %}
    </div>
{% endblock %}