<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <title>{% block title %}Musée du Louvre{% endblock %}</title>

    {% block stylesheets %}

        {% stylesheets filter="cssrewrite, ?scssphp"
            'bundles/occore/css/bootstrap.css'
            'bundles/occore/css/font-awesome.min.css'
            'bundles/occore/css/main.css'

        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    {% endblock %}

</head>

<body>
<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('oc_core_homepage') }}"><img src="{{ asset('bundles/occore/img/logo-2.jpg') }}" alt="logo joconde"  title="Accueil du site"> Musée du Louvre</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="{{ path('oc_core_homepage') }}">Accueil</a></li>
                <li><a href="{{ path('oc_core_pricelist') }}">Tarifs</a></li>
                <li><a href="{{ path('oc_core_reservation') }}">Réservations</a></li>
                <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i> Contact</a></li>
                {% if app.session.get(('cart')) != null %}
                <li><a href="{{ path('oc_core_cart_view') }}"><i class="fa fa-shopping-cart"></i> Votre panier <span class="badge">{{ app.session.get('cart')|length }}</span></a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>


{% block body %}

{% endblock body %}


<!-- FOOTER -->
<div id="f">
    <div class="container">
        <div class="row centered">
            <a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-dribbble"></i></a>

        </div><!-- row -->
    </div><!-- container -->
</div><!-- Footer -->


<!-- MODAL FOR CONTACT -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Contactez-nous !</h4>
            </div>
            <div class="modal-body">
                <div class="row centered">
                    <p>Nous vous accueillons tous les jours
                        <br>de 9 h 00 à 18 h 00
                        <br>sauf le mardi, le 1er mai, le 1er novembre et le 25 décembre.</p>
                    <p>
                        Musée du Louvre<br>
                        75001 PARIS<br>
                        FRANCE, FR.<br>
                        01 40 20 50 50<br>
                    </p>
                    <div id="mapwrap">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10499.496405115677!2d2.337644!3d48.8606111!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb975fcfa192f84d4!2sMus%C3%A9e+du+Louvre!5e0!3m2!1sfr!2sfr!4v1462828683219" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    {% javascripts
        'bundles/occore/js/bootstrap.min.js'
        'bundles/occore/js/main.js'
        'bundles/occore/js/datepicker.fr.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"
            integrity="sha256-xI/qyl9vpwWFOXz7+x/9WkG5j/SVnSw21viy8fWwbeE="
            crossorigin="anonymous"></script>


    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>



{% endblock %}

</body>
</html>
